<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.image_url = '<%= image_url('default-event.jpg') %>'
  window.event_image = '<%= image_url('browse_events_image.jpg') %>'
  window.empty_index_image = ' <%= image_url('sad_calendar_2.png') %> '
</script>
<main id='root'></main>
