.browse-events-header-container{
  margin: 0 auto;
  margin-top: 75px;
  font-family: 'Open Sans', sans-serif;
  width: 790px;
}

.browse-events-header {
  font-weight: 400;
}

.browse-events-text {
  font-weight: 300;
  line-height: 18px;
}
