

.event-cell-search {
  position: relative;
}

.event-index-container-search{
  border: 1px solid red;
  margin: 100px auto;
  width: 810px;
  display: block;
  max-width: 1000px;
}

.search-img-details-list {
  display: flex;
  border-bottom: .3px solid #EAE8E6;
  height: 100px;
}

.event-cell-image-search {
  display: inline-block;
  height: 100px;
  width: 200px;
  object-fit: cover;
}
.event-list-search > li {
  // border: 1px solid black;
  background-color: #fff;
  box-sizing: border-box;
  margin: 1%;
  border: 1px solid #eee;
  padding-bottom: 10px;
  height: 136px;
  width: 780px;

}

.event-details-container-search {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.event-cell-details-search {
  padding-top: 3px;
  margin-left: 20px;
}

.above-category {
  height: 128px;
  border: 1px solid #eee;
}



.image-price-search {
  border-bottom: none;
}

.event-cell-time-search {
   color: #666a73;
  // color: #45494E;
  font-size: 15px;
  line-height: 18px;
  height: 18px;
  font-weight: lighter;
  letter-spacing: 1px;
  padding: 5px 0 0;
}

.event-cell-name-search {
  color: #282C35;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  height: 51px;
  padding-top: 2px;
}

.event-cell-location-search{
  color: #666A73;
  font-size:  12px;
  line-height: 18px;
  height: 30px;
}

.event-cell-category-search{
  display: flex;
  color: #666a73;
  height: 35px;
  width: 100%;
}

.event-cell-category-search li {
  height: 35px;
}

.event-ticket-type-search{
  background-color: #f5f5f5;
  border: 1px solid #eee;
  line-height: 18px;
  color: #666a73;
  font-size: 14px;
  width: 200px;
  padding-top: 10px;
  padding-left: 7px;
}

.category-search {
  padding-top: 10px;
  font-size: 14px;
  margin-left: 20px;
  // border-right: .3px solid #EAE8E6;
}

.category-search:hover {
  cursor: pointer;
}


#icon-bookmark-index-save-search{
  // position: absolute;
  right: 8px;
  bottom: 5px;
  width: 33px;
  color: #0278b8;
}

#icon-bookmark-index-search{
  // position: absolute;
  right: 8px;
  bottom: 5px;
  width: 33px;
  // font-size: 45px;
  color: #0278b8;
}

.bookmark-search {
  position:absolute;
  bottom: 2px;
  right: 0px;
  font-size: 22px;
  border-left: .3px solid #EAE8E6;
}



.image-and-price{
  font-family: 'Open Sans', sans-serif;
  position: relative;
}
