@media screen and (min-width: 1100px) {
  .form-container{
    display: flex;
    flex-direction: column;
  }
}

.wrapper-ticket button {
  -webkit-appearance: button;
}

.form-container{
  font-family: 'Libre Franklin', sans-serif;
}

.title-header{
  font-weight: 200;
  font-size: 30px;
  padding: 19px;
  background-color: #fff;
}

.create-form-header {
  display: flex;
  justify-content: space-between;
}

.cancel-button {
  margin-right: 114px;
  margin-top: 20px;
  color: #fff;
  background-color: #f86004;
  border-radius: 71.5px;
  padding: 0px 13px;
  font-size: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  height: 36px
}

.gray-bar{
  background-color: #45494e;
  padding: 22px;
}

.wrapper-event-details {
  padding-left: 95px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 22px;
  color: #282C35;
  letter-spacing: 0.5px;
  background-color:  #f5f5f5;
  padding-bottom: 80px;
}

.event-form-section-title-1{
  margin-top: 18px;
  margin-right: 105px;
  font-size:25px;
  line-height: 35px;
  font-weight: 400;
  border-bottom: 1px solid #D8D0CE;
  padding: 4px;
}


.event-details-title {
  margin-top: 18px;
  color: #45494e;
  padding-bottom: 15px;
}

.wrapper-event-details input {
  border: 1px solid #D8D0CE;
  padding: 10px;
  margin-right: 20px;
  width: 250px;
  border-radius: 3.5px;
  background-color: #fff;
  color: #918B87;
}

#title{
  width: 527px;
}

#location{
  width: 527px;
}


.event-details-location{
  padding-bottom: 15px;
}

.times{
  display: flex;
}


.time-start{
  padding-bottom: 15px;
}


#image{
  border: 1px solid yellow;
  position: absolute;
  width: 400px;
  height: 300px;
  opacity: 0;
}

#image:hover {
  cursor: pointer;
}

#event-image {
  background-size: cover;
  background-position: center center;
  width: 400px;
  height: 300px;
}

.event-image-title-cell {
  position: relative;
}

.drag-and-drop {
  width: 400px;
  height: 300px;
  border: 1px dashed #D8D0CE;
  background-color: #fff;
}

.text-upload-container:hover {
  cursor: pointer;
}

.text-upload-container {
  position: absolute;
  width: 400px;
  height: 300px;
  padding-top: 60px;
  line-height: 2;
  color: #0278b8;
  font-size: 21px;
}

.text-for-upload {
  display: flex;
  justify-content: center;
}

.fa-camera {
  display: flex;
  justify-content: center;
  font-size: 37px;
  margin-top: 10px;
}


.edit-button{

}

.event-description{
  background-color: #fff;
  width: 700px;
  height: 241px;
  margin-bottom: 20px;
}

#description{
  width: 700px;
  height: 200px;
}

.wrapper-ticket{
  margin-bottom: 20px;
}
 select{
  padding: 11.7px 10px;
  margin-bottom: 20px;
  border: 1px solid #D8D0CE;
  width: 180px;
  background-color: #fff;
  font-size: 12px;
  font-family: 'Libre Franklin', sans-serif;
}

.event-live{
  font-weight: 600;
  background-color: #00ab44;
  color: #fff;
  width: 252px;
  text-align: center;
  padding: 10px;
  border-radius: 3.5px;
  letter-spacing: 0.5px;
}

.event-live:hover{
  background-color: #1a4718;
}

.event-error {
  color: red;
  font-size: 10px;
  margin: 3px;
}

#description-error {
  float: right;
  color: red;
  font-size: 15px;
  margin-right: 3px;
}
