.root-page{
  background-color: #f5f5f5;
}

.event-index-container{
  margin: 220px auto;
  width: 92%;
  display: block;
  max-width: 1000px;
}

.event-cell {
  position: relative;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: .5px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  overflow: hidden;
}

.event-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.event-list > li {
  // border: 1px solid black;
  background-color: #fff;
  box-sizing: border-box;
  margin: 1%;
  border: 1px solid #eee;
  padding-bottom: 10px;
  height: 308px;
}

.event-cell-image{
  height: 150px;
  background-size: cover;
  background-position: center center;
}

.above-category {
  height: 128px;
  border: 1px solid #eee;
}



.event-cell-details {
  font-family: 'Open Sans', sans-serif;
  padding-top: 12px;
  padding-left: 4%;
  border-bottom: .3px solid #EAE8E6;
}

.event-cell-time {
   color: #666a73;
  // color: #45494E;
  font-size: 12px;
  line-height: 18px;
  height: 18px;
  letter-spacing: 1px;
  padding: 5px 0 0;
}

.event-cell-name{
  color: #282C35;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  height: 51px;
}

.event-cell-location{
  color: #666A73;
  font-size:  12px;
  line-height: 18px;
  height: 30px;
}
//
.event-cell-category{
  padding-top: 0px;
  padding-left: 12px;
  margin-left: 4%;
  margin-right: 35%;
  color: #666a73;
  position: relative;
  bottom: -13px;
}


#icon-bookmark-index-save{
  position: absolute;
  right: 8px;
  bottom: 5px;
  width: 33px;
  font-size: 20px;
  color: #0278b8;
  font-size: 23px;
}

#icon-bookmark-index{
  position: absolute;
  right: 8px;
  bottom: 5px;
  width: 33px;
  font-size: 23px;
  color: #0278b8;
}

.fa-bookmark-o{
  position: absolute;
  right: 20px;
  bottom: 6px;
}

.category {
  position: absolute;
  left: 2px;
  bottom: -21;
}

.image-and-price{
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.event-ticket-type{
  position: absolute;
  top: 8px;
  right: 9px;
  padding: 1px 5px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  line-height: 18px;
  color: #666a73;
  font-size: 14px;
}
