.root-page{
  background-color: #f5f5f5;
}

.event-index-container{
  margin: 220px auto;
  width: 92%;
  display: block;
  max-width: 1000px;
}

.event-cell {
  position: relative;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: .5px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  overflow: hidden;
}

.event-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.event-list > li {
  // border: 1px solid black;
  background-color: #fff;
  box-sizing: border-box;
  margin: 1%;
  border: 1px solid #eee;
}

.event-cell-image{
  height: 150px;
  background-size: cover;
  background-position: center center;
}



.event-cell-details {
  font-family: 'Libre Franklin', sans-serif;
  // border: 1px solid black;
  margin-left: 4%;
}

.event-cell-time {
   color: #666a73;
  // color: #45494E;
  font-size: 12px;
  line-height: 18px;
  height: 18px;
  letter-spacing: 1px;
  padding: 5px 0 0;
}

.event-cell-name{
  color: #282C35;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  height: 38px;
}

.event-cell-location{
  color: #666A73;
  font-size:  12px;
  line-height: 18px;
  height: 18px;
}
//
.event-cell-category{
  // border: 1px solid black;
  padding-top: 3px;
  padding-left: 12px;
  margin-left: 4%;
  margin-right: 35%;
  color: #666a73;
  position: relative;
}


.fa-hashtag:before{
  // border: 1px solid black;
  position: absolute;
  left: 0px;
  bottom: 3px;
}

.fa-bookmark-o{
  // border:1px solid black;
  position: absolute;
  right: 20px;
  bottom: 6px;
}
.image-and-price{
  font-family: 'Libre Franklin', sans-serif;
  position: relative;
}

.event-ticket-type{
  position: absolute;
  top: 5px;
  right: 6px;
  padding: 1px 5px;
  background-color: #f5f5f5;
  border: 1px solid black;
}
