.event-cell {
  width: 275px;
  height: 300px;
  border: 1px solid black;
}


.event-cell-details {
  border: 1px solid black;
}

.event-cell-category{
  border: 1px solid black;
}


.event-meta-container{
  margin: 300px auto;
  // margin-top: 300px;
  width: 85%;
  justify-content: center;
  border: 1px solid black;
}

.event-list {
  margin: auto;
}

.event-list li {
  // display: inline-block;
  padding: 5px;
}
