@media screen and (min-width: 1100px) {
  .whole-container-show{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
  }
}

.whole-container-show {
  background-color: #f5f5f5;
}
.show-container{
  max-width: 1100px;
  padding-top: 57px;
}

.description-contents ol ul {
  list-style: georgian;
}

.description-contents html body div span {
  font-size: 14px;
  line-height: 15px;
}

.description-contents h1 {font-size: 35px}

.description-contents h2 {font-size: 30px;}

.description-contents h3 {font-size: 25px}

.description-contents h4 {font-size: 20px}

.description-contents h4 h3 h2 h1 { font-weight: bold}

.description-contents p { color: black }


.show-top{
  display: flex;
}

.event-image{
  height: 300px;
  background-size: cover;
  background-position: center center;
  width: 1763px;
}

.event-details-show{
  font-family: 'Roboto', sans-serif;
  border: 1px solid black;
  width: 100%;
  max-width: 1100px;
  // background-color: #f5f5f5;
  // background-color: white;
  background-color: blue;
  border: 1px solid #D8D0CE;
}

.listing-top{
  padding: 32px;
  height: 62%;
  position: relative;
}

.edit-button {
  top: 12px;
  right: 13px;
  position: absolute;
  font-size: 22px;
}

.fa-pencil-square-o {
  color: #f86004;
}


.listing-info{
  display: flex;
}


#listing-time{
  font-size: 15px;
  font-weight: 600px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: #666A73;
}

#listing-name{
  color: #282C35;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.5px;
  word-break: break-word;
  padding-top: 18px;
}

#listing-organizer{
  color: #666A73;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  padding-top: 35px;
  font-size: 21px;
}

.events-price-show{
  padding-left: 32px;
  margin-top: 26px;
  color: #666A73;
  letter-spacing: .5px;
}


.listing-panel{
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  border-color: #D2D6DF;
  height: 63px;
  position: relative;
  background-color: white;
}

#icon-bookmark-show-save {
  position: absolute;
  right: 20px;
  bottom: 77px;
  font-size: 29px;
  color: #0278b8;
}

#icon-bookmark-show {
  position: absolute;
  right: 20px;
  bottom: 77px;
  font-size: 29px;
  color: #0278b8;

}

#register-button{
  margin-right: 2.3%;
  margin-top: .9%;
  width: 33%;
  text-align: center;
  height: 66%;
  background-color: #00ab44;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  letter-spacing: 0.5px;
  font-family: 'Libre Franklin', sans-serif;
  -moz-transition:color .2s ease-in;
  }

#register-button:hover{
  background-color: #1a4718;
}


#cancellation-button {
  margin-right: 2.3%;
  margin-top: .9%;
  width: 33%;
  text-align: center;
  height: 66%;
  background-color: #C9220A;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  letter-spacing: 0.5px;
  font-family: 'Libre Franklin', sans-serif;
  -moz-transition:color .2s ease-in;
}

#cancellation-button:hover {
  background-color: #9B2C1C;
}

.listing-cell{
  padding-top: 5%;
  display: flex;
  border: 1px solid #D2D6DF;
  border-bottom: none;
  background-color: white;
}

.description{
  width: 46%;
  padding-left:11%;
  padding-right:8%;
  background-color: white;
}

.title{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #282C35;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.tag-container {
  padding-left: 11%;
  padding-top: 75px;
  padding-bottom: 103px;
  border: 1px solid #D2D6DF;
  border-bottom-width:2px;
  border-top: none;
  background-color: white;
}

.tag-container h3 {
  margin-left: 3px;
  margin-bottom: 30px;
}

.tag-button{
  height: 18px;
  border: 1px solid #D2D6DF;
  padding: 7px 10px 6px;
  vertical-align: text-bottom;
  font-size: 12px;
  vertical-align: baseline;
  letter-spacing: .5px;
  text-align: center;
  border-radius: 33px / 32px;
}

.tag-button:hover {
  border-color: #0093D7;
  color: #0093D7;
}

.info {
  font-family: 'Roboto', sans-serif;
  list-style: none;
  font-weight: 300;
}

.event-background-image{
  height:250px;
}

#map-container{
  width: inherit;
  height: 300px;
}
