select {
  -webkit-appearance:none
}

.event-meta-container {
  height: 100%;
}

.LandingImage {
  width: 100%;
  height: 282px;
  background-size: cover;
  background-image: image_url("fireworks.jpg");
  position: absolute;
}

.meta-search-card{
  // width: 92%;
  width: 92%;
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #D8D0CE;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
  position: relative;
  top: 140px;
  height: 210px;
}

.input-list-search-card{
  display:flex;
  justify-content: center;
  padding-top: 23px;
}

.meta-search-card h1 {
  font-family: 'Libre Franklin', sans-serif;
  color:#f6682F;
  text-align: center;
  font-size: 45px;
  font-weight: lighter;
  padding-top: 45px;

}

#main-search {
  // width: 250px;
}


.searchform {
  margin-bottom: 25px
}

.searchform input::placeholder {
  color: #BCC2CD;
}

.searchform input {
  border: 1px solid #D8D0CE;
  border-radius: 4px 0 0 4px;
  padding: 10px 12px;
  width:475px;
  display: flex;
  color: #878B93;
  font-family: 'Libre Franklin', sans-serif;
}

.searchform select {
  padding: 11.7px 10px;
  border: 1px solid #D8D0CE;
  width:100px;
  background-color: #fff;
  font-size: 12px;
  font-family: 'Libre Franklin', sans-serif;
  border-radius: none;
}

.searchform button {
  border: 1px solid #D8D0CE;
  padding: 10.74px 40px;
  font-size: 15px;
  border-radius: 0 4px 4px 0;
  font-family: 'Libre Franklin', sans-serif;
  background-color: #f6682F;
  color: #fff;

}

.searchform button:hover {
  background-color:  #b73a08;
}
