select {
  -webkit-appearance:none
}

.event-meta-container {
  height: 100%;
}

.LandingImage {
  width: 100%;
  height: 430px;
  background-size: cover;
  position: absolute;
}

.one {
  background-image: image_url("fireworks1.JPEG");
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.two {
  background-image: image_url("concert_pic3.JPEG");
  -moz-animation: fadeout 2s; /* Firefox */
  -webkit-animation: fadeout 2s; /* Safari and Chrome */
  -o-animation: fadeout 2s; /* Opera */
}

.three {
  background-image: image_url("parade.JPEG");
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.four {
  background-image: image_url("concert2.JPEG");
  -moz-animation: fadeout 2s; /* Firefox */
  -webkit-animation: fadeout 2s; /* Safari and Chrome */
  -o-animation: fadeout 2s; /* Opera */
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


.meta-search-card{
  width: 92%;
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #D8D0CE;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
  position: relative;
  top: 269px;
  height: 210px;
}

.input-list-search-card{
  display:flex;
  justify-content: center;
  padding-top: 23px;
}

.meta-search-card h1 {
  font-family: 'Libre Franklin', sans-serif;
  color:#f6682F;
  text-align: center;
  font-size: 45px;
  font-weight: lighter;
  padding-top: 45px;

}

#main-search {
  // width: 250px;
}


.searchform {
  margin-bottom: 25px
}

.searchform input::placeholder {
  color: #BCC2CD;
}

.searchform input {
  border: 1px solid #D8D0CE;
  border-radius: 4px 0 0 4px;
  padding: 10px 12px;
  width:475px;
  display: flex;
  color: #878B93;
  font-family: 'Libre Franklin', sans-serif;
}

.searchform select {
  padding: 11.7px 10px;
  border: 1px solid #D8D0CE;
  width:100px;
  background-color: #fff;
  font-size: 12px;
  font-family: 'Libre Franklin', sans-serif;
  border-radius: none;
}

.searchform button {
  border: 1px solid #D8D0CE;
  padding: 10.74px 40px;
  font-size: 15px;
  border-radius: 0 4px 4px 0;
  font-family: 'Libre Franklin', sans-serif;
  background-color: #f6682F;
  color: #fff;

}

.searchform button:hover {
  background-color:  #b73a08;
}
