.session-form-parent-signup{
  border: 1px solid black;

  margin: auto;
  width: 400px;
  height: 400px;
  display: block;

}

.session-form-parent-signup h2 {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.session-type-signup{
  border: 1px solid black;
  // padding-left: 168px;
  display: flex;
  align-items: center;
}

#session-link{
  color:red;
}
.session-form-signup{
  display: flex;
  flex-direction: column;

 border: 1px solid black;
}

.session-form-parent-signup label {
  border: 1px solid black;
  align-items: center;
}

.session-form-parent-signup button {
  border: 1px solid black;
  position: absolute;


}

.session-form-parent-signup input {
  background-color: #F1EAE9;
  padding: 8px;
  border: 1px solid black;
}
